.kinopoisk-plugin__search-modal--input {
    padding-bottom: 18px;
}
.kinopoisk-plugin__search-modal--input input {
    width: 100%;
}
.obsidian-kinopoisk-plugin__settings input {
    width: 100%;
}
.obsidian-kinopoisk-plugin__settings .search-input-container {
    width: 100%;
}